#########################
# Flake8 Configuration  #
# (.flake8)             #
#########################
[flake8]
ignore =
    S311
    S403
    S101
    W503
    D107
    S402
    E203
    B018
    B024
    B028
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs,
    data
max-line-length = 120
max-complexity = 20
import-order-style = pycharm